body {
  background: #eef0f8;
  color: #334151;
  padding: 24px;
}

/* Summary CSS */
.summary-box-container {
  background: white;
  padding: 16px;
}
.summary-box-spec,
.summary-box-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary-box-text {
  color: #596882;
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}
.summary-box-number {
  color: #334151;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}
.summary-box-time-container {
  font-size: 14px;
}
.summary-box-time-container > p {
  margin: 0;
  margin-top: 4px;
}
.summary-box-time-container > p:nth-child(1) {
  color: #99a6b7;
}
.summary-box-percent {
  display: flex;
  align-items: center;
}
.summary-block {
  display: grid;
  gap: 24px;
}
@media (min-width: 500px) {
  .summary-block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .summary-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Chart CSS */
.overview-container {
  background-color: white;
  /* max-width: 830px;
  max-height: 400px; */
  padding: 15px;

  margin-top: 20px;
}
